@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #acb7c8;
  border-radius: 9999px;
  border: 2px solid #090d16;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}